*,
*::before,
*::after {
  /* font-family: "Roboto Condensed", sans-serif; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fef6f9;
  font-family: "Roboto Condensed", sans-serif;
}

#background-pic {
  top: 0;
  left: 0;
  position: fixed;
  object-fit: cover;
  object-position: center 20%; /* CONTROLS x y display  */
  z-index: -1;
  height: 100%;
  width: 100%;
  opacity: 0.8;
}

h1,
h2,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* for error pages */
h4 {
  margin-top: 3rem;
  padding: 0;
  text-align: center;
  font-size: 3rem;
}

.hidden {
  display: none !important;
}
